.chart {
    flex              : 1;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow        : 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding           : 10px;
    color             : gray;
    height            : 400px;
    width             : 40px;
    margin-top        : 3rem;


}

@media(max-width: 700px){
    .chart{
        display: none;
    }
}

.chart .title {
    margin-top: 20px;
}

.chart .chartGrid {
    stroke: rgb(228, 225, 225);
}